<html>
    <head>
        <meta charset = "UTF-8">
        <title> 환영합니다. </title>
    </head>
    <body>
        {% comment %} 단일 데이터를 넣어올 때  {% endcomment %}
        {% comment %} <h1> {{name}}님 환영합니다. </h1> {% endcomment %}

        {% comment %} dict에 multi데이터 넣어올 때 {% endcomment %}
        {% comment %} <h1> {{data.name}}님 환영합니다. </h1> {% endcomment %}
        {% comment %} <h1> {{data.age}} </h1> {% endcomment %}

        {% comment %} 사용자가 get요청으로 넘긴data를 받아올 때 {% endcomment %}
    </body>
</html>